@()
@main("Todo With Knockout.js and Play! Framework") {
	<!-- CONTENT -->
	<div class="container-fluid roomForHeader">
		<div class="row-fluid">
			<div class="span3">
				<div class="well sidebar-nav">
					<ul class="nav nav-list">
						<li class="nav-header">List of items</li>
						<!-- ko if: myTodos().length === 0 -->
						<li><em>Empty</em></li>
						<!-- /ko -->
						<!-- ko foreach: myTodos -->
						<li><a href="#"	data-bind="text: title, click: $parent.getAnItem"></a></li>
						<!-- /ko -->
					</ul>
				</div>
				<div>
					<form>
						<fieldset>
							<p data-bind="visible: errorsDetected" class="alert alert-error">You must fill in a title</p>
							<legend>New Item</legend>
							<input placeholder="title" type="text" id="newTitle" />
							<input placeholder="text" type="text" id="newText" />
							<button type="submit" class="btn btn-primary" data-bind="click: submitNew">Add</button>
						</fieldset>
					</form>
				</div>
			</div>
			<div class="span9">
				<div class="hero-unit" data-bind="with: currentItem">
					<div data-bind="if: $data == null">
						<p>Nothing loaded</p>
					</div>
					<h2 data-bind="text: title"></h2>
					<p data-bind="text: text"></p>
					<div data-bind="ifnot: $data === emptyItem">
						<button class="btn btn-danger" data-bind="click: $parent.removeItem">Delete task</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /CONTENT -->
}
